<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/" text="volver" color="primary"></ion-back-button>
    </ion-buttons>
    <ion-title color="primary">avatar</ion-title>
    <ion-buttons slot="end">
      <ion-avatar>
        <!-- <img src="/assets/avatar.jpeg" /> -->
        <ion-img src="/assets/avatar.jpeg"></ion-img>
      </ion-avatar>
    </ion-buttons>
  </ion-toolbar>
</ion-header>



<ion-content>
  <ion-chip color="primary" outline="true"
    *ngFor="let item of [2,2,2,2,2]">
    
      
    
    <ion-avatar>
      <img src="/assets/avatar.jpeg" />
    </ion-avatar>
    <ion-label color="primary">Avatar</ion-label>
    
  </ion-chip>


  <ion-list>
    <ion-item *ngFor="let item of [1,1,1,3,4,5,6,6,7]">
      <ion-avatar slot="start">
        <img src="/assets/avatar.jpeg" />
      </ion-avatar>
      <ion-label color="primary">Avatar</ion-label>
    </ion-item>
  </ion-list>
  

</ion-content>
